<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=onlinestore</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="com/qdu/pojo/OrderList.hbm.xml"/>
    <mapping resource="com/qdu/pojo/ProductHelper.hbm.xml"/>
    <mapping resource="com/qdu/pojo/Menu.hbm.xml"/>
    <mapping resource="com/qdu/pojo/ProductCategory.hbm.xml"/>
    <mapping resource="com/qdu/pojo/Product.hbm.xml"/>
    <mapping resource="com/qdu/pojo/SalesPromotion.hbm.xml"/>
    <mapping resource="com/qdu/pojo/OrderDetails.hbm.xml"/>
    <mapping resource="com/qdu/pojo/Users.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
